<%- include('header'); -%>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas similique dolore reiciendis explicabo adipisci.
    Dolorem
    maiores, voluptatum deserunt rerum, dolor doloremque sunt libero iste atque porro accusamus. Fugit, soluta vero!


</p>

<%- include('footer'); -%>